body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      padding: 2rem;
      max-width: 500px;
      margin: auto;
}
h2 {
    text-align: center;
}

h3 {
    font-weight: normal;
    
}

label {
    display: block;
    margin-top: 1rem;
}
input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
}

/*BOTONES*/
button {
    margin-top: 1.5rem;
    padding: 0.7rem 1.2rem;
    background-color: #6200ea;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

#botonGeneraInactividad{ 
    margin-top: 0.5rem;
}

#button_copy, #button_copy_nd, #button_copy_inac
 {
    margin-top: 1.5rem;
    padding: 0.7rem 1.2rem;
    background-color: #49d01b;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    width: 100%;
}

#resultado, #resultadoNoDisponible, #resultadoInactividad {
    margin-top: 1.5rem;
    background: #ff83f5;
    padding: 1rem;
    border-radius: 5px;
    word-break: break-word;
}

#otroOperador {
    display: none;
    margin-left: 10px;
}

/*PIE DE PÁGINA*/
footer {
    margin-top: 0.2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #2181b1;
}